<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1 style="text-align: center;">Login Page</h1>
    <form method="POST" style="width: 20%; margin:auto">
        {% csrf_token %}
        <label for="name">User Name :</label>
        <input type="text" name="username"><br>
        <br>
        <label for="password">Password :</label>
        <input type="password" name="password"><br>
        <br>
        <input type="submit" >
    </form>
</body>
</html>